body {
  margin: 0;
  background-color: #ccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 60%;
  background-color: white;
  margin: 1rem auto;
  padding: 5rem;
}
