.inline-flex {
  display: inline-flex;
  padding-bottom: 50px;
}

#albums-title {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#merge-album-btn,
#create-album-btn {
  margin: 0px 5px;
}

#album-date-error {
  padding-top: 0px;
  padding-bottom: 10px;
  color: red;
}

.folder {
  height: 150px;
  width: 150px;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.album-name {
  text-decoration: none !important;
  font-weight: bold;
  color: black;
}

.white,
.white:active,
.white:visited,
.white:focus {
  color: white !important;
}
