.inline-flex {
  display: inline-flex;
  padding-bottom: 50px;
}

#albums-title {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#merge-album-btn,
#create-album-btn {
  margin: 0px 5px;
}
